
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a id="renderbody" href="~/Account/AddFunds">
           
            </a>
        </li>
    </ul>

}